@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,400;1,700;1,900&family=Teko:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#000000, #00008b, #40a1e8);
  min-height: 100vh;
}

.navbar {
  background-image: url(./images/wp9389225-4k-pc-universe-wallpapers.jpg);
  background-size: cover;
  color: white;
  padding: 30px;
  text-decoration: none;
  font-family: "Teko";
}

.Title-Page {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Title-icon {
  font-size: 50px;
  font-family: "Kanit";
  font-weight: 900;
}

.Title-initial {
  font-size: 70px;
  color: #40a1e8;
}

.nav-search {
  font-size: 20px;
  text-transform: uppercase;
}

.btn-search {
  background-color: silver;
  width: 80px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: "Teko";
}

.btn-search:hover {
  background-color: white;
}

.menu {
  background-color: #00008b;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: "Kanit";
}

.menu a:hover {
  color: #00ff7f;
}

.footer {
  background-color: #000000;
  padding: 15px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-title {
  font-size: 30px;
  font-family: "Kanit";
  font-weight: 900;
  color: #ffffff;
}

.footer-copy {
  color: #dcdcdc;
  font-size: 15px;
  font-family: "Kanit";
  font-weight: bold;
}

.social-anchor {
  display: flex;
  gap: 10px;
}

.Social-icon {
  width: 30px;
  border-radius: 10px;
}

.subTitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 5px solid #40a1e8;
  border-top: 5px solid #40a1e8;
  text-transform: uppercase;
  font-family: "Teko";
  font-weight: bold;
  color: white;
}

.container {
  padding-top: 50px;
  padding: 30px;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  font-family: "Teko";
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: stretch;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.container img {
  width: 100%;
  border: 2px double;
  border-radius: 20px;
}

.card-news {
  background-color: #000000;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.text {
  padding: 0 20px 20px;
}

.text h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 5px solid #40a1e8;
  border-top: 5px solid #40a1e8;
  text-transform: uppercase;
  font-family: "Teko";
  font-weight: bold;
  color: white;
}

.text button {
  border: 2px solid white;
  border-radius: 20px;
  padding: 15px;
  text-transform: uppercase;
  font-family: "Teko";
  font-size: 15px;
  cursor: pointer;
  margin-top: 50px;
  width: 30%;
}

.text button:hover {
  background-color: #40a1e8;
  color: white;
}

#jamesWebb {
  height: 500px;
}

@media (max-width: 768px) {
  .Title-icon {
    font-size: 30px;
  }
  .Title-initial {
    font-size: 50px;
  }
  .nav-search {
    font-size: 10px;
    text-transform: uppercase;
  }

  .btn-search {
    width: 50px;
    height: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 10px;
  }
  .text button {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-family: "Teko";
    font-size: 10px;
    cursor: pointer;
    margin-top: 50px;
    width: 30%;
  }
  .footer-copy {
    font-size: 10px;
  }
  #jamesWebb {
    height: auto;
  }
}

@media (max-width: 500px) {
  .Title-Page {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .Title-icon {
    font-size: 20px;
  }
  .Title-initial {
    font-size: 30px;
  }
  .nav-search {
    font-size: 5px;
    text-transform: uppercase;
  }

  #Search-area {
    width: 50%;
    font-size: 5px;
  }

  .btn-search {
    width: 30px;
    height: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 5px;
  }
  .text button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    font-family: "Teko";
    font-size: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 30%;
  }
  .container {
    padding-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    grid-gap: 10px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  .text {
    padding: 0 10px 10px;
  }

  .text h4 {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 3px solid #40a1e8;
    border-top: 3px solid #40a1e8;
  }
  .subTitle {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 3px solid #40a1e8;
    border-top: 3px solid #40a1e8;
  }
  .menu {
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .menu a {
    font-size: 10px;
  }
  .footer {
    padding: 5px;
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .footer-title {
    font-size: 15px;
  }

  .footer-copy {
    font-size: 5px;
  }

  .social-anchor {
    gap: 5px;
  }

  .Social-icon {
    width: 10px;
    border-radius: 3px;
  }
}
