@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,400;1,700;1,900&family=Teko:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#000000, #00008b, #40a1e8);
}

.navbar {
  background-image: url(./images/wp9389225-4k-pc-universe-wallpapers.jpg);
  background-size: cover;
  color: white;
  padding: 30px;
  text-decoration: none;
  font-family: "Teko";
}

.Title-Page {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Title-icon {
  font-size: 50px;
  font-family: "Kanit";
  font-weight: 900;
}

.Title-initial {
  font-size: 70px;
  color: #40a1e8;
}

/* .social-anchor {
  display: flex;
  gap: 20px;
}

.Social-icon {
  width: 30px;
} */

.nav-search {
  font-size: 20px;
  text-transform: uppercase;
}

.btn-search {
  background-color: silver;
  width: 80px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: "Teko";
}

.btn-search:hover {
  background-color: white;
}

.menu {
  background-color: #00008b;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: "Kanit";
}

.menu a:hover {
  color: #00ff7f;
}

.footer {
  background-color: #000000;
  padding: 15px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-title {
  font-size: 30px;
  font-family: "Kanit";
  font-weight: 900;
  color: #ffffff;
}

.footer-copy {
  color: #dcdcdc;
  font-size: 15px;
  font-family: "Kanit";
  font-weight: bold;
}

.social-anchor {
  display: flex;
  gap: 10px;
}

.Social-icon {
  width: 30px;
  border-radius: 10px;
}

.subTitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 5px solid #40a1e8;
  border-top: 5px solid #40a1e8;
  text-transform: uppercase;
  font-family: "Teko";
  font-weight: bold;
  color: white;
}

.container {
  padding-top: 50px;
  padding: 30px;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  font-family: "Teko";
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: start;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.container img {
  width: 100%;
  border: 2px double;
  border-radius: 20px;
}

.card-news {
  background-color: #000000;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.text {
  padding: 0 20px 20px;
}

.text h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 5px solid #40a1e8;
  border-top: 5px solid #40a1e8;
  text-transform: uppercase;
  font-family: "Teko";
  font-weight: bold;
  color: white;
}

.text button {
  border: 2px solid white;
  border-radius: 20px;
  padding: 15px;
  text-transform: uppercase;
  font-family: "Teko";
  font-size: 15px;
  cursor: pointer;
  margin-top: 50px;
  width: 30%;
}

.text button:hover {
  background-color: #40a1e8;
  color: white;
}
